::backdrop {
  background-color: black;
  opacity: 0.8;
}

dialog {
  background-color: #bdbd16;
  padding: 25px;
  border-radius: 10px;
}

.dialog-body {
  display: grid;
  grid-template-columns: auto auto;
  gap: 30px;
  padding: 10px;
}

.dialog-body > section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dialog-body p {
  font-size: 14px;
}

.btn-close {
  text-align: end;
}
