@font-face {
  font-family: 'BitBold';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url(/fonts/BitBold.ttf) format('truetype');
}

* {
  font-family: 'BitBold', sans-serif;
  font-size: 16px;
}

body {
  display: grid;
  height: 100vh;
  background-color: #1f8b00;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

canvas {
  border: #bdbd16 solid 5px;
  border-radius: 20px;
  box-shadow:
    rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

button {
  background-color: #8e001c;
  border: 0px;
  border-radius: 5px;
  color: white;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: 500ms;
}

#bomberman-container {
  width: 1024px;
  height: 580px;
}

#game-controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 30px;
  padding-top: 30px;
}
